/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.contact-s3 {
  background-blend-mode: multiply !important;
  background-color: #777 !important;
}

/* line 8, ../sass/partials/_modules.scss */
.index-s1, .index-s3, .index-s5, .index-s6 {
  background-blend-mode: multiply !important;
  background-color: #aaa !important;
}

/* line 14, ../sass/partials/_modules.scss */
.menu-s3, .menu-s5, .menu-s6 {
  background-blend-mode: multiply !important;
  background-color: #777 !important;
}

/* line 20, ../sass/partials/_modules.scss */
.promo-s4 {
  background-blend-mode: multiply !important;
  background-color: #777 !important;
}

/* line 26, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}

/* line 30, ../sass/partials/_modules.scss */
nav {
  z-index: 10;
}

@media all and (max-width: 767px) {
  /* line 36, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 37, ../sass/partials/_modules.scss */
  .contact-s1 *, .contact-s2 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 44, ../sass/partials/_modules.scss */
  .contact-s1 {
    background-position: right !important;
  }

  /* line 49, ../sass/partials/_modules.scss */
  .index-s1, .index-s3, .index-s5, .index-s6 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 50, ../sass/partials/_modules.scss */
  .index-s1 *, .index-s3 *, .index-s5 *, .index-s6 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 57, ../sass/partials/_modules.scss */
  .index-s1, .index-s3 {
    background-position: right !important;
  }

  /* line 62, ../sass/partials/_modules.scss */
  .menu-s1, .menu-s2, .menu-s3, .menu-s4, .menu-s5, .menu-s6 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 63, ../sass/partials/_modules.scss */
  .menu-s1 *, .menu-s2 *, .menu-s3 *, .menu-s4 *, .menu-s5 *, .menu-s6 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 70, ../sass/partials/_modules.scss */
  .menu-s1, .menu-s3 {
    background-position: right !important;
  }

  /* line 75, ../sass/partials/_modules.scss */
  .navbar-toggler {
    background-color: #555;
    border-color: #333;
  }
  /* line 79, ../sass/partials/_modules.scss */
  .navbar-nav {
    background-color: #555;
    border: 1px solid #333;
    opacity: 0.9;
    padding: 10px;
  }

  /* line 86, ../sass/partials/_modules.scss */
  .order {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 87, ../sass/partials/_modules.scss */
  .order * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }

  /* line 95, ../sass/partials/_modules.scss */
  .promo-s1, .promo-s2, .promo-s3, .promo-s4 {
    background-blend-mode: multiply !important;
    background-color: #999 !important;
  }
  /* line 96, ../sass/partials/_modules.scss */
  .promo-s1 *, .promo-s2 *, .promo-s3 *, .promo-s4 * {
    color: #fff !important;
    text-shadow: 1px 1px 3px #333;
  }
  /* line 103, ../sass/partials/_modules.scss */
  .promo-s1, .promo-s3 {
    background-position: right !important;
  }
}
/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: scroll;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: scroll;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s2 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s4 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s5 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.index-s6 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s6.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s1 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s2 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s3 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s4 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s5 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.menu-s6 {
  background-attachment: scroll;
  background-image: url(../img/menu/menu-s6.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.order-s1 {
  background-attachment: scroll;
  background-image: url(../img/order/order-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: scroll;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s1 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s2 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s3 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.promo-s4 {
  background-attachment: scroll;
  background-image: url(../img/promo/promo-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.user-s1 {
  background-attachment: scroll;
  background-image: url(../img/user/user-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
